{% comment %}
  This section is used in the article template to render the article page, which
  displays the full content of the blog post and can optionally include a
  comments section for customers (not shown in this example).

  https://shopify.dev/docs/storefronts/themes/architecture/templates/article
{% endcomment %}

{% for block in section.blocks %}
  {% case block.type %}
    {% when "article_title" %}
      <h1>{{ article.title }}</h1>

    {% when "article_author" %}
      {% if section.settings.enable_author %}
        <small>{{ article.author }}</small>
      {% endif %}

    {% when "article_published_date" %}
      {% if section.settings.enable_published_date %}
        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
      {% endif %}

    {% when "featured_image" %}
      {{ article.image | image_url: width: 1000 | image_tag }}

    {% when "article_content" %}
      <div class="">
        {{ article.content }}
      </div>

  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "t:general.article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Toggle to display author name"
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Toggle to display published date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
