{% comment %}
  This section is used in the blog template to render the blog page listing all
  articles within a blog.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/blog
{% endcomment %}

<div class="flex items-center justify-center py-5">
    <div class="max-w-7xl text-center">
      <h1 class="text-4xl md:text-6xl font-medium">{{ blog.title }}</h1>
    </div>
</div>

{% paginate blog.articles by section.settings.number_of_blog_posts %}
<div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-32">
        {% for article in blog.articles %}
          <div class="w-full">
            <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                {% if article.image != blank %}
                  {{ article.image | image_url: width: "300" | image_tag: class: "w-full h-60 object-cover object-center" | link_to: article.url }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: "w-full h-80 object-cover bg-grey-100" | link_to: article.url }}
                {% endif %}
                <div class="content w-full px-5">
                  <h2 class="text-2xl my-4">
                    {{ article.title | link_to: article.url }}
                  </h2>

                  {% if article.excerpt.size < 0 %}
                    <p>{{ article.excerpt }}</p>
                  {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
                  {% endif %}

                  {% assign date = article.published_at | time_tag: format: 'date' %}
                  <p class="my-3 ">{{ 'blog.article_metadata_html' | t: date: date, author: article.author }}</p>
                </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {%- if paginate.pages > 1 -%}
      {{- paginate | default_pagination -}}
    {%- endif -%}
</div>
{% endpaginate %}


{% schema %}
{
  "name": "t:general.blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "label": "How many blog posts appear per page",
      "default": 6,
      "step": 1,
      "min": 3,
      "max": 24
    }
  ]  
}
{% endschema %}
